.property__grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background: linear-gradient(270deg, #f2f2f2, #e5e7eb);
  }

  > img:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.property__fallback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #f2f2f2, #e5e7eb);
}

.property__fallback-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background: linear-gradient(270deg, #f2f2f2, #e5e7eb);
}
