label {
  cursor: pointer;
}

// ==========================================================================
// Placeholder
// ==========================================================================

::placeholder {
  color: var(--gray-600);
}

// ==========================================================================
// Calendar
// ==========================================================================

::-webkit-calendar-picker-indicator {
  color: var(--primary-500);
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  color: var(--primary-500);
}
