.display--block {
  display: block !important;
}

.display--flex {
  display: flex !important;
}

.display--grid {
  display: grid !important;
}

.display--inline {
  display: inline !important;
}

.display--inline-block {
  display: inline-block !important;
}

.display--inline-flex {
  display: inline-flex !important;
}

.display--inline-grid {
  display: inline-grid !important;
}

.display--none {
  display: none !important;
}
