.button,
.button--outlined {
  border-radius: 4px;
  padding: 0.625rem 1.5rem;
  font: var(--label-large);
  letter-spacing: var(--label-large-ls);
  border: 0;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: transparent;

  &:focus {
    outline: none;
  }

  &:has(.icon) {
    padding: 0.625rem 1.5rem 0.625rem 1rem;
  }
}

.button {
  background: var(--primary-500);
  color: var(--gray-25);

  &:hover,
  &:active,
  &:focus {
    color: var(--primary-50);
    background: var(--primary-600);
    box-shadow:
      0px 1px 3px 1px #00000026,
      0px 1px 2px 0px #0000004d;
  }

  &:active {
    background: var(--primary-700);
    box-shadow: none;
  }
}

.button--outlined {
  border: 1px solid var(--primary-600);
  color: var(--primary-500);

  &:hover,
  &:focus {
    border: 1px solid var(--primary-500);
    background: var(--primary-200);
  }
}
